body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  button {
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: #2B3A55;
    color: #F2E5E5;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  button:hover {
    background-color: #F2E5E5;
    color: #2B3A55;
    transform: scale(1.1);
  }
  img{
    width: 80%;
  }
  #logo{
    transform: rotate(-45deg);
  }
  .cube{
    height: 150px;
    width: 150px;
    background-color: #F2E5E5;
    transition: all .2s ease-in-out; 
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
  }
  .cube:hover{
    transform: scale(1.1) rotate(45deg);
  }
  .cube:hover > *{
    transform: scale(0.9) rotate(45deg);
  }
  .navigation{
  }
  #parallax {
    /* The image used */
    background-image: url("resources/sinking.jpg") !important;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #parallax:hover {
    background-size: 99%;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  .quote {
    border: 3px solid rgb(160, 160, 160);
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .container{
  }
  .quote{
    background-color: white;
  }
  #quote-author{
    padding: 20px 70px;
    font-size: small;
    color:#949494;
    padding-top: 0px;
  }
  .quote-footer {
    border: 3px solid rgb(160, 160, 160);
    border-top: none;
    max-width: 500px;
    background-color: rgb(219, 219, 219);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

  }
  #quote-button {
    border-radius: 3px;
    border: none;
    padding: 10px;
  }
  