body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  button {
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: #2B3A55;
    color: #F2E5E5;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  button:hover {
    background-color: #F2E5E5;
    color: #2B3A55;
    transform: scale(1.1);
  }
  img{
    width: 100px;
    height: auto;
  }
  .github{
    display:flex;
  }
  .cube{
    flex: none;
    height: 50px;
    width: 50px;
    background-color: #F2E5E5;
    transform: rotateX(45deg);
  }
  .cube:hover{
    transform: scale(1.1);
    transform: rotateX(10deg) ;
  }
  .navigation{
    display: flex;
    flex-direction: row;
    flex: 1, 1, 1;
  }
  .quote {
    border: 3px solid rgb(160, 160, 160);
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .container{
    flex: 1;
  }
  .quote{
    background-color: white;
  }
  #quote-author{
    padding: 20px 70px;
    font-size: small;
    color:#949494;
    padding-top: 0px;
  }
  .quote-footer {
    border: 3px solid rgb(160, 160, 160);
    border-top: none;
    max-width: 500px;
    background-color: rgb(219, 219, 219);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

  }
  #quote-button {
    border-radius: 3px;
    border: none;
    padding: 10px;
  }
  